* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.solarSystem {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.planets {
  width: 1000%;
  height: 100%;
  display: flex;
}
.planets input {
  display: none;
}
.planet {
  width: 10%;
  transition: 1.5s;
}
.planet img {
  width: 100%;
  height: 100%;
}
.navigation {
  position: absolute;
  width: 100%;
  top: 5vh;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
}
.manual-btn {
  color: rgb(180, 180, 180);
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  color: rgb(255, 255, 255);
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -10%;
}
#radio3:checked ~ .first {
  margin-left: -20%;
}
#radio4:checked ~ .first {
  margin-left: -30%;
}
#radio5:checked ~ .first {
  margin-left: -40%;
}
#radio6:checked ~ .first {
  margin-left: -50%;
}
#radio7:checked ~ .first {
  margin-left: -60%;
}
#radio8:checked ~ .first {
  margin-left: -70%;
}
